# Default values for deploy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# to reset password: htpasswd -s -b -n internal changeme
openshift_prometheus_htpasswd_auth: internal:{SHA}+pvrmeQCmtWmYVOZ57uuITVghrM=
openshift_prometheus_basic_auth_pass: changeme
federate_openshift_monitoring: true
# federated_prometheus_hosts:
# external_prometheus_hosts:

# Uncomment this if your cluster serves privately signed certificates
# custom_ca: true

# Thanos / S3 Storage with noobaa
# thanos_bucket_name: thanos
# bucket_access_point: s3.pelorus.svc:443
# bucket_access_key:
# bucket_secret_access_key:

## Persistent storage for Prometheus Operator
# https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/storage.md

# Set to true to use PVC for Prometheus
prometheus_storage: false

# Additional configuration options for Prometheus PVC
prometheus_storage_pvc_capacity: 2Gi
prometheus_storage_pvc_storageclass: "gp2"

# Set Prometheus retention time. Older data values are deleted
prometheus_retention: 1y
# Set Prometheus retention size. If data grows over old values are deleted
# This should be lower of what's defined in the prometheus_storage_pvc_capacity
prometheus_retention_size: 1GB

exporters:
  instances:
    - app_name: deploytime-exporter
      exporter_type: deploytime

    - app_name: failuretime-exporter
      exporter_type: failure
      enabled: false

    - app_name: committime-exporter
      exporter_type: committime

    - app_name: webhook-exporter
      exporter_type: webhook

# Experimental GitHub releasetime exporter
#     - app_name: releasetime-exporter
#       env_from_configmaps:
#         - pelorus-config
#         - releasetime-config
#       env_from_secrets:
#         - github-secret
#       extraEnv:
#         - name: APP_FILE
#           value: extra/releasetime/app.py
