apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "charts.pelorus.dora-metrics.io/v1alpha1",
          "kind": "Pelorus",
          "metadata": {
            "name": "pelorus-sample"
          },
          "spec": {
            "exporters": {
              "global": {},
              "instances": [
                {
                  "app_name": "deploytime-exporter",
                  "exporter_type": "deploytime"
                },
                {
                  "app_name": "failuretime-exporter",
                  "enabled": false,
                  "exporter_type": "failure"
                },
                {
                  "app_name": "committime-exporter",
                  "exporter_type": "committime"
                },
                {
                  "app_name": "webhook-exporter",
                  "exporter_type": "webhook"
                }
              ]
            },
            "federate_openshift_monitoring": {
              "enabled": false
            },
            "openshift_prometheus_basic_auth_pass": "changeme",
            "openshift_prometheus_htpasswd_auth": "internal:{SHA}+pvrmeQCmtWmYVOZ57uuITVghrM=",
            "prometheus_retention": "1y",
            "prometheus_retention_size": "1GB",
            "prometheus_storage": false,
            "prometheus_storage_pvc_capacity": "2Gi",
            "prometheus_storage_pvc_storageclass": "gp2"
          }
        }
      ]
    capabilities: Basic Install
    categories: |
      Modernization & Migration,Developer Tools,Monitoring,Integration & Delivery
    containerImage: quay.io/pelorus/pelorus-operator:0.0.9
    createdAt: "2024-05-27T20:04:01Z"
    description: |
      Tool that helps IT organizations measure their impact on the overall performance of their organization
    operatorframework.io/suggested-namespace: pelorus
    operators.operatorframework.io/builder: operator-sdk-v1.33.0
    operators.operatorframework.io/project_layout: helm.sdk.operatorframework.io/v1
    repository: https://github.com/dora-metrics/pelorus/
    support: Pelorus Community
  name: pelorus-operator.v0.0.9
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Pelorus is the Schema for pelorus API to adopt instance to the
        requested workflow
      displayName: Pelorus
      kind: Pelorus
      name: peloruses.charts.pelorus.dora-metrics.io
      specDescriptors:
      - displayName: Exporter Instance Name
        path: exporters.instances.[0].app_name
      - path: exporters.instances.[0].exporter_type
      - path: exporters.instances.[0].env_from_secrets.[0]
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes:Secret
      - displayName: Env From ConfigMap
        path: exporters.instances.[0].env_from_configmaps.[0]
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes:ConfigMap
      - path: exporters.instances.[0].extraEnv
      - path: exporters.instances.[0].enabled
      - path: exporters.instances.[0].custom_certs.[0].map_name
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes:ConfigMap
      - path: exporters.instances.[0].image_tag
      - path: exporters.instances.[0].image_name
      - path: exporters.instances.[0].source_url
      - path: exporters.instances.[0].source_ref
      - displayName: External Exporters
        path: external_prometheus_hosts
      - displayName: External Exporter name
        path: external_prometheus_hosts[0].id
      - path: prometheus_retention
      - path: prometheus_retention_size
      - displayName: Prometheus Persistent Storage (PVC)
        path: prometheus_storage
      - displayName: Prometheus PVC Capacity
        path: prometheus_storage_pvc_capacity
      - displayName: Prometheus PVC Storageclass
        path: prometheus_storage_pvc_storageclass
      - displayName: Prometheus Federated Hosts
        path: federated_prometheus_hosts
      - displayName: Federated Exporter name
        path: federated_prometheus_hosts[0].id
      - displayName: Prometheus Internal Auth (htpasswd)
        path: openshift_prometheus_htpasswd_auth
      - displayName: Grafana Datasource Internal Auth (basic auth)
        path: openshift_prometheus_basic_auth_pass
      - displayName: Thanos S3 Bucket Name
        path: thanos_bucket_name
      - displayName: Thanos S3 Access Point
        path: bucket_access_point
      - displayName: Thanos S3 Access Key
        path: bucket_access_key
      - displayName: Thanos S3 Secret Access Key
        path: bucket_secret_access_key
      - displayName: Thanos Quay Image Tag
        path: thanos_version
      - displayName: CA Certificate Injection
        path: custom_ca
      version: v1alpha1
  description: |
    Pelorus is a tool that helps IT organizations measure their impact on the overall performance of their organization. It does this by gathering metrics about team and organizational behaviors over time in some key areas of IT that have been shown to impact the value they deliver to the organization as a whole. Some of the key outcomes Pelorus can focus on are:

    - Software Delivery Performance
    - Product Quality and Sustainability
    - Customer experience

    For more background on the project you can read [@trevorquinn](https://github.com/trevorquinn)'s blog post on [Metrics Driven Transformation](https://www.openshift.com/blog/exploring-a-metrics-driven-approach-to-transformation).

    ## Software Delivery Performance as an outcome

    Currently, Pelorus functionality can capture proven metrics that measure Software Delivery Performance -- a significant outcome that IT organizations aim to deliver.

    Pelorus is a Grafana dashboard that can easily be deployed to an OpenShift cluster, and provides an organizational-level view of the [four critical measures of software delivery performance](https://blog.openshift.com/exploring-a-metrics-driven-approach-to-transformation/).

    ## Software Delivery Metrics Dashboard

    A short video describing each of metrics provided by Pelorus is available [here](https://www.youtube.com/watch?v=7-iB_KhUaQg).

    ## Demo

    [YouTube Video](https://www.youtube.com/watch?v=VPCOIfDcgso) with the Pelorus in action recorded during online Konveyor Community event.

    ## Documentation

    Pelorus documentation is available at [pelorus.readthedocs.io](https://pelorus.readthedocs.io/en/latest/).

    ## Contributing to Pelorus

    If you are interested in contributing to the Pelorus project, please review our Contribution guide which can be found in the [contribution guide](https://github.com/dora-metrics/pelorus/blob/master/CONTRIBUTING.md)

    ## Statement of Support

    Our support policy can be found in the [Upstream Support statement](https://github.com/dora-metrics/pelorus/blob/master/docs/UpstreamSupport.md)

    ## Code of Conduct
    Refer to dora-metrics's Code of Conduct [here](https://github.com/dora-metrics/pelorus/blob/master/CODE_OF_CONDUCT.md).

    ## License

    This repository is licensed under the terms of [Apache-2.0 License](https://raw.githubusercontent.com/dora-metrics/pelorus/master/LICENSE).
  displayName: Pelorus Operator
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAYAAAA8AXHiAAAABmJLR0QA/wD/AP+gvaeTAAAGAElEQVR42u2dzYscRRiHf9X27F8gsiclBoOiqJsEP0gO7i3giDmYS0yEQJgIEgRz8w/wllzEg01AcGMuelASIZ7iQXENa1YlAVHi1y3/wi7Z9tC7637MzvT0vFVd3f08x2Gmp7rep96q7q6ukgAAmoLrfAUM8kdy6fSWj3JJF/eorNk8c/fRZjxpp852kL+7Ls5Tkt7esAgQa1KR3pH0orZnJECsiUV6RtJhSZ8QWsSyEOq0pE8JJ2JZyDQn6QNJxwgjYlkI9YakzwkdYlkJ9bqkLwkZYlkJ9aqk64QKsayEOijpJ0KEWJZCXZY0R3gQy0qqVyTdJCz/0+svVn44sHr9JddtsQb5s5KuSnoalaaTaa/jhJYsjUCqI5K+Qyc7oUYdO5Rgac1S/S7pCZTyK1UdgqU1CfW8pFuSegi1mNf1vz7lSmuQ6jlJt8VcsNqkCpG9klAnMXMuTzTID0laRqr6pfJdliBi9c7lyUquPyUtIVVcUvkqUxJAqodWC6keY4gep1Q+ypYEkOoeUsUvVWO6QjJVM6WyKmfiUap7kh5FqW42gsSDVAndX3e7QC9izRRS0f3RGGzFWiFTka3MxSruqCMVjcJQrOLZH3fUyVbmGesWUoGtWMXUlx5V2c5sVfU8kimlOiLmU4GpWMV0YmZ+gnnGukr1ga1Yxds0vPgAhmIV7/3xihaYZ6zLVFs3rgjDiVVkK95QBvOMxVoKYCxWseoLgHnGYimhktS5ZkKzxCoWPQMwz1ispAfGYhVrfgLdoXnGYiHZCnT9XlYyJludQpFuZ6yq5zEuY72JImArVjHdmMX5yVrmXSGzF2gYzodYV6haspatWMUuWkCDMO8KD1O1ZC0fYrHfX4flsihrMqQbfBINaAA+MtY81dvNrGVZvmFivYwC3ZPLulzDxGJj7o7J5X857kG+j7B3Sy5f5diZsV4j5GGDWqdgPv97p1hrhLv92SuE0Du3PPmQMNcrl895XCEFTglp+wWro7tNCGX846+qYtQ5hnNbrgjfk3SRkI6srNk8c/frLsewbBbbLYx0qGTAYJ+uEGIXK6c6wIdYjK+ArhAQCxALALEAsaBr8KxwAnLpYTfgrszIOlp/MrEplpNmqZbRUkm6g1ZjcdvEiuEZWNS1Nci5g8wYCxALEAsAsQCxoDVcQCzwcvGMWEBXCIgF3WbzHnKtzwqrvjvHJkiRkrlLtYo17cuYG79HsHhJmyTUqOMhWQfFCrGvDFmsds4HG7z3+ot56M2K2Og7jgvBpI0BrkNo0DXvYsUSVOQKekX4l1exYgsmcgVhYWS/2NYgIpd3fvQmVuzBQy6v3eBHXsQiaGAuVpOkogF44YwXsZoGcpmzZC4WQQJl7g4ZiwZhzVvmYyyCA8rcgrfBO3SWG16vCukOO8v75mIRFFDmlslYNBBrToz7AmMsqJKtvkAssOZ4mS8hFkyarb5CLLCmX/aLiAWTZKuvEQusOTTJlxELyrCszN1GLLDm7KQ/QCwYx/yk2QqxYBx3lblvq/wQsWAUJ6v+ELFgL44qc78iFljyhzL3/TQHqCRWW1Z0YWWa4dWizB2Y9iBkLNhKLukFiwN1dls5stVQqeaUuV8sDpYQGFjnHyupOtsV0ih2SzXjtN/ygAkBQqqe0+MrH7u1aMQiW7VCqv2rxlKZiEWgGsu/61I98HHwTmUsGsH27s+XVGZiNSFgSLWr+3vg80+SLgQOqcJlKi9dYYwBRCpJxc3Pv2cKqdZC/GHS5kAi1aZUc8rcvpVAUnkbvMcQUKQqqkHSQcs76mVJfQe2jvURkEpSMfXlQF1/noYKcgjBEGqTo9POp4perBCCIdQmdyWdnGbmZ+PEGibBNJIh0y7mq7740AqxysrR6y/myFOKZUlnq7yi1VqxyEhTc0yZ+ybGgqXEppH0J1mgA7FgHMfLrk+FWFCGE2WWZ0QsKMMNSZ8pc1eaWHjEio9TKtZM+LnJJ4FYcXBG0tJeGx4hFpRlQdIPkm4qc7+18QQRKwznVcwkubZzt/e2glh2XJC0cVM3V+YuUSUAAE3gP+A0Ht6wIBpBAAAAAElFTkSuQmCC
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - '*'
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
        - apiGroups:
          - charts.pelorus.dora-metrics.io
          resources:
          - peloruses
          - peloruses/status
          - peloruses/finalizers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          - clusterroles
          verbs:
          - '*'
        - apiGroups:
          - ""
          resources:
          - configmaps
          - secrets
          - serviceaccounts
          - services
          verbs:
          - '*'
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          - roles
          verbs:
          - '*'
        - apiGroups:
          - apps.openshift.io
          resources:
          - deploymentconfigs
          verbs:
          - '*'
        - apiGroups:
          - integreatly.org
          resources:
          - grafanadashboards
          - grafanadatasources
          - grafanas
          verbs:
          - '*'
        - apiGroups:
          - image.openshift.io
          resources:
          - imagestreams
          verbs:
          - '*'
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - prometheuses
          - prometheusrules
          - servicemonitors
          verbs:
          - '*'
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - '*'
        - apiGroups:
          - operators.coreos.com
          resources:
          - operatorgroups
          - subscriptions
          verbs:
          - get
          - create
          - delete
          - list
          - watch
        - apiGroups:
          - batch
          resources:
          - jobs
          verbs:
          - list
          - create
          - get
          - watch
          - delete
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - create
          - get
          - list
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - roles
          - rolebindings
          verbs:
          - create
          - get
          - list
          - watch
          - delete
        - apiGroups:
          - operators.coreos.com
          resources:
          - installplans
          - subscriptions
          verbs:
          - get
          - list
          - patch
        - apiGroups:
          - operators.coreos.com
          resources:
          - clusterserviceversions
          verbs:
          - delete
          - list
        - apiGroups:
          - integreatly.org
          resources:
          - grafanas
          - grafanadashboards
          - grafanadatasources
          - grafananotificationchannels
          verbs:
          - list
          - get
          - watch
          - create
          - delete
        - apiGroups:
          - build.openshift.io
          resources:
          - buildconfigs
          verbs:
          - get
          - create
          - delete
          - list
          - watch
          - patch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - get
          - create
          - delete
          - list
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: pelorus-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: pelorus-operator
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: pelorus-operator
          control-plane: controller-manager
        name: pelorus-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                - --leader-election-id=pelorus-operator
                image: quay.io/pelorus/pelorus-operator:0.0.9
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    memory: 512Mi
                  requests:
                    memory: 512Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: pelorus-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: pelorus-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - pelorus-operator
  - dora
  - dora metrics
  - pelorus
  - metrics
  - transformation
  - devops
  links:
  - name: Pelorus Docs
    url: https://pelorus.readthedocs.io/en/latest/
  - name: Pelorus Getting Started
    url: https://pelorus.readthedocs.io/en/latest/GettingStarted/Overview/
  - name: Pelorus GIT repository
    url: https://github.com/dora-metrics/pelorus/
  maintainers:
  - email: kgranger@redhat.com
    name: Kevin Granger
  - email: whayutin@redhat.com
    name: Wesley Hayutin
  - email: mpryc@redhat.com
    name: Michal Pryc
  - email: msouzaol@redhat.com
    name: Mateus Souza Oliveira
  - email: esauer@redhat.com
    name: Eric Sauer
  maturity: alpha
  provider:
    name: Red Hat
    url: https://redhat.com
  version: 0.0.9
  replaces: pelorus-operator.v0.0.8
  skips:
    - pelorus-operator.v0.0.8
    - pelorus-operator.v0.0.7
    - pelorus-operator.v0.0.6
    - pelorus-operator.v0.0.5
    - pelorus-operator.v0.0.4
    - pelorus-operator.v0.0.3
    - pelorus-operator.v0.0.2
    - pelorus-operator.v0.0.1
