# extra_prometheus_hosts:
#   - id: "ci-1"
#     hostname: "prometheus-k8s-openshift-monitoring.apps.example.com"
#     password: "<redacted>"

dashboard_namespace: custom-dashboards
openshift_cluster_content:
  - galaxy_requirements: 
      - "{{ inventory_dir }}/../mdt-secret-discovery-requirements.yml"
  - object: MDT Prometheus
    pre_steps:
      - role: mdt-quickstart/secret-discovery
    content:
      - name: MDT Prometheus htpasswd secret
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-htpasswd-secret.yml.j2"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
      - name: MDT Prometheus operator
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-operator-config.yml.j2"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
      - name: MDT Scrape config secret
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-scrape-config-secret.yml.j2"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
      - name: MDT Prometheus CR
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-cr.yml"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
      - name: MDT Prometheus Service
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-svc.yml"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
      - name: MDT Prometheus Route
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-route.yml"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
      - name: MDT Prometheus Oauth Cluster Role
        file: "{{ inventory_dir}}/../federated-prometheus/prometheus-oauth-cluster-role.yml"
        tags:
          - dashboard-sdm
      - name: MDT Prometheus Oauth Service Account
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-sa.yml"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard sdm
      - name: MDT Prometheus Oauth ClusterRoleBinding
        file: "{{ inventory_dir }}/../federated-prometheus/prometheus-oauth-cluster-role-binding.yml.j2"
        tags:
          - dashboard-sdm
      - name: MDT Repoint Grafana Datasource
        file: "{{ inventory_dir }}/../federated-prometheus/grafana-mdt-datasources.yml.j2"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
  - object: Dashboards - DevOps
    content:
      - name: Software Delivery Metrics Dashboard
        file: "{{ inventory_dir }}/../dashboard-sdm.yml"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
      - name: Mount Software Delivery Dashboard to Grafana
        action: patch
        file: "{{ inventory_dir }}/../grafana-deployment.yml"
        params: "{{ inventory_dir }}/../sdm-volume-patch.yml"
        namespace: "{{ dashboard_namespace }}"
        tags:
          - dashboard-sdm
