# Needed by exporters/tests
pytest
pytest-cov
pytest-asyncio

# Used by bats in the conftests
yq

# Used by ./scripts/lib/charts.py
semver

# Used manually, mentioned in the docs/Development.md
mkdocs

# Makefile uses those in static code analysis - linting and formatting
black
isort
pylama[toml] >= 8.4.0
pyright

# # Issue #584
# pyflakes <= 2.4.0

# Required by `ct lint` command
yamale
yamllint

pre-commit

# Required by TestClient
httpx

# Managing Architecture Decision Records
adr-tools-python
