# Used by all exporters
openshift == 0.13.1    # module openshift
prometheus_client      # module prometheus_client
attrs                  # module attrs
exceptiongroup         # module exceptiongroup
typing-extensions      # module typing_extensions

# Committime exporter
azure-devops           # module azure
git-url-parse          # module giturlparse
jsonpath_ng            # module jsonpath_ng
python-gitlab >= 2.4.0 # module gitlab
requests               # module requests


# Failure exporter
jira                   # module jira
pytz                   # module pytz
requests               # module requests
Pygithub               # module github
