{{- if .Values.bucket_access_point }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: thanos-query
  labels:
    app: thanos-query
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thanos-query
  template:
    metadata:
      labels:
        app: thanos-query
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "10902"
    spec:
      serviceAccountName: pelorus-thanos
      volumes:
      - name: secret-prometheus-pelorus-tls
        secret:
          secretName: prometheus-pelorus-tls
      - name: secret-prometheus-pelorus-htpasswd
        secret:
          secretName: prometheus-pelorus-htpasswd
  {{- if .Values.custom_ca }}
      - name: configmap-cluster-ca-bundle
        configMap:
          name: cluster-ca-bundle
          defaultMode: 420
  {{- end }}
      containers:
      - name: thanos-query
        image: {{ .Values.images.thanos }}
        args:
        - "query"
        - "--log.level=info"
        - "--http-address=:10902"
        - "--grpc-address=:10901"
        - "--store=thanos-pelorus-sidecar:10901"
        - "--store=thanos-pelorus-store:10901"
        ports:
        - name: query-http
          containerPort: 10902
        livenessProbe:
          httpGet:
            path: /-/healthy
            port: query-http
      - args:
        - -provider=openshift
        - -https-address=:9092
        - -http-address=
        - -email-domain=*
        - -upstream=http://localhost:10902
        - -htpasswd-file=/etc/proxy/htpasswd/auth
        - -openshift-service-account=pelorus-thanos
        - '-openshift-sar={"resource": "namespaces", "verb": "get"}'
        - '-openshift-delegate-urls={"/": {"resource": "namespaces", "verb": "get"}}'
        - -tls-cert=/etc/tls/private/tls.crt
        - -tls-key=/etc/tls/private/tls.key
        - -client-secret-file=/var/run/secrets/kubernetes.io/serviceaccount/token
        - -cookie-secret=bacon
        - -openshift-ca=/etc/pki/tls/cert.pem
        - -openshift-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
  {{- if .Values.custom_ca }}
        - -openshift-ca=/etc/prometheus/configmaps/cluster-ca-bundle/ca-bundle.crt
  {{- end}}
        - -skip-auth-regex=^/metrics
        image: {{ .Values.images.thanos_proxy }}
        name: thanos-proxy
        ports:
        - containerPort: 9092
          name: web-tls
        resources: {}
        volumeMounts:
        - mountPath: /etc/tls/private
          name: secret-prometheus-pelorus-tls
        - mountPath: /etc/proxy/htpasswd
          name: secret-prometheus-pelorus-htpasswd
  {{- if .Values.custom_ca }}
        - name: configmap-cluster-ca-bundle
          readOnly: true
          mountPath: /etc/prometheus/configmaps/cluster-ca-bundle
  {{- end }}
{{- end }}
