apiVersion: charts.pelorus.dora-metrics.io/v1alpha1
kind: Pelorus
metadata:
  name: pelorus-sample
spec:
  # Default values copied from <project_dir>/helm-charts/pelorus/values.yaml
  exporters:
    global: {}
    instances:
    - app_name: deploytime-exporter
      exporter_type: deploytime
    - app_name: failuretime-exporter
      enabled: false
      exporter_type: failure
    - app_name: committime-exporter
      exporter_type: committime
    - app_name: webhook-exporter
      exporter_type: webhook
  federate_openshift_monitoring:
    enabled: true
    metrics_filter: null
  openshift_prometheus_basic_auth_pass: changeme
  openshift_prometheus_htpasswd_auth: internal:{SHA}+pvrmeQCmtWmYVOZ57uuITVghrM=
  prometheus_retention: 1y
  prometheus_retention_size: 1GB
  prometheus_storage: false
  prometheus_storage_pvc_capacity: 2Gi
  prometheus_storage_pvc_storageclass: gp2
  
  
