apiVersion: authorization.openshift.io/v1
groupNames: null
kind: RoleBinding
metadata:
  name: admin-robot-rolebinding
roleRef:
  name: admin
subjects:
- kind: ServiceAccount
  name: exporter-robot
  namespace: {{ exporter_namespace }}
userNames:
- system:serviceaccount:{{ exporter_namespace }}:exporter-robot
