/* custom color palette */
:root > * {
    --md-primary-fg-color:        #0066ff;
    --md-primary-fg-color--light: #c7c8ca;
    --md-primary-fg-color--dark:  #054cc9;

    --md-accent-fg-color: #f6624e;
}

[data-md-color-scheme="pelorus"] {
    --md-primary-fg-color:        #0066ff;
    --md-primary-fg-color--light: #c7c8ca;
    --md-primary-fg-color--dark:  #054cc9;

    --md-accent-fg-color: #f6624e;
}

[data-md-color-scheme="slate"] {
    --md-hue: 215;
}

.checked {
  color:rgb(43, 155, 70);
}

.unchecked {
  color: rgb(200, 200, 200);
}

/* custom admonition */
:root {
    --md-admonition-icon--further-reading: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 2L14 6.5V17.5L19 13V2M6.5 5C4.55 5 2.45 5.4 1 6.5V21.16C1 21.41 1.25 21.66 1.5 21.66C1.6 21.66 1.65 21.59 1.75 21.59C3.1 20.94 5.05 20.5 6.5 20.5C8.45 20.5 10.55 20.9 12 22C13.35 21.15 15.8 20.5 17.5 20.5C19.15 20.5 20.85 20.81 22.25 21.56C22.35 21.61 22.4 21.59 22.5 21.59C22.75 21.59 23 21.34 23 21.09V6.5C22.4 6.05 21.75 5.75 21 5.5V19C19.9 18.65 18.7 18.5 17.5 18.5C15.8 18.5 13.35 19.15 12 20V6.5C10.55 5.4 8.45 5 6.5 5Z" /></svg>')
}

.md-typeset .admonition.further-reading,
.md-typeset details.further-reading {
  border-color: rgb(246, 98, 78);
}
.md-typeset .further-reading > .admonition-title,
.md-typeset .further-reading > summary {
  background-color: rgba(246, 98, 78, 0.1);
}
.md-typeset .further-reading > .admonition-title::before,
.md-typeset .further-reading > summary::before {
  background-color: rgb(246, 98, 78);
  -webkit-mask-image: var(--md-admonition-icon--further-reading);
          mask-image: var(--md-admonition-icon--further-reading);
}

.md-typeset .admonition.formula,
.md-typeset details.formula {
  border-color: rgb(147,112,219);
  font-size: inherit;
}

.md-typeset table:not([class]) {
  font-size: inherit;
}

/* grids */
.md-typeset .grid {
  grid-gap: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
  margin: 1em 0;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol) {
  display: contents;
}

.md-typeset .grid.cards>:is(ul,ol) {
  display: contents;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.1rem;
  display: block;
  margin: 0;
  padding: 0.8rem;
  -webkit-transition: border .25s,box-shadow .25s;
  transition: border .25s,box-shadow .25s;
}

.md-typeset .grid.cards>:is(ul,ol)>li, .md-typeset .grid>.card {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.1rem;
  display: block;
  margin: 0;
  padding: 0.8rem;
  transition: border .25s,box-shadow .25s;
}

.md-typeset .grid.cards>:is(ul,ol)>li:is(:focus-within,:hover), .md-typeset .grid>.card:is(:focus-within,:hover) {
  border-color: transparent;
  box-shadow: var(--md-shadow-z2);
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li:-webkit-any(:focus-within,:hover), .md-typeset .grid>.card:-webkit-any(:focus-within,:hover) {
  border-color: transparent;
  box-shadow: var(--md-shadow-z2);
}

/* icon alignment */
.md-typeset .middle {
  vertical-align: middle;
}

/* flex grid for logos */
.md-typeset .flex ul {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.md-typeset .flex ul li {
  list-style-type: none;
}

.md-typeset .grid.popout {
  border: var(--md-primary-fg-color--light) 1px solid;
  border-radius: 10px;
  margin: 0 -0.8rem -1.2rem;
  padding: 1rem;
  box-shadow: var(--md-shadow-z2);
}

.md-typeset .grid.popout h2 {
  margin: 0 0 2rem 0;
}

/*
.md-typeset div.arithmatex>mjx-container {
  margin-left: 0!important;
  margin-right: 0!important;
}*/