:root > * {
    --md-primary-fg-color:        #0066ff;
    --md-primary-fg-color--light: #c7c8ca;
    --md-primary-fg-color--dark:  #054cc9;

    --md-accent-fg-color: #f6624e;
}

[data-md-color-scheme="pelorus"] {
    --md-primary-fg-color:        #0066ff;
    --md-primary-fg-color--light: #c7c8ca;
    --md-primary-fg-color--dark:  #054cc9;

    --md-accent-fg-color: #f6624e;
}

[data-md-color-scheme="slate"] {
    --md-hue: 215;
}