name: Pelorus Exporter Build

on:
  # push:
  pull_request:
    branches:
      - master
    paths:
      - 'exporters/**'
      - '.github/workflows/build-pelorus.yml'

env:
  # Use 'pelorus' for release
  imagenamespace: ${{ secrets.QUAY_IMAGE_NAMESPACE }}

jobs:
  get-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.tags.outputs.tags }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: tags
        run: |
          export CURRENT_CHART_VERSION="$(grep '^version: ' charts/pelorus/Chart.yaml  | cut -c 10-)"
          if [[ $CURRENT_CHART_VERSION == *"rc"* ]];then
            echo "tags=$(echo latest,${{ github.sha }},$CURRENT_CHART_VERSION)" >> "$GITHUB_OUTPUT"
          else
            echo "tags=$(echo stable,latest,${{ github.sha }},$CURRENT_CHART_VERSION)" >> "$GITHUB_OUTPUT"
          fi

  build-and-push-exporters-image:
    runs-on: ubuntu-22.04
    needs: get-tags
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: DEBUG
        run: echo ${{ needs.get-tags.outputs.tags }}

      # - name: Build and push committime exporter
      #   uses: "./.github/workflow_templates/build_push_exporters"
      #   with:
      #     image: 'pelorus-committime-exporter'
      #     tags: ${{ needs.get-tags.outputs.tags }}
      #     quay_imagenamespace: ${{ secrets.QUAY_IMAGE_NAMESPACE }}
      #     quay_username: ${{ secrets.QUAY_USERNAME }}
      #     quay_password: ${{ secrets.QUAY_PASSWORD }}

      # - name: Build and push deploytime exporter
      #   uses: "./.github/workflow_templates/build_push_exporters"
      #   with:
      #     image: 'pelorus-deploytime-exporter'
      #     tags: ${{ needs.get-tags.outputs.tags }}
      #     quay_imagenamespace: ${{ secrets.QUAY_IMAGE_NAMESPACE }}
      #     quay_username: ${{ secrets.QUAY_USERNAME }}
      #     quay_password: ${{ secrets.QUAY_PASSWORD }}

      # - name: Build and push failure exporter
      #   uses: "./.github/workflow_templates/build_push_exporters"
      #   with:
      #     image: 'pelorus-failure-exporter'
      #     tags: ${{ needs.get-tags.outputs.tags }}
      #     quay_imagenamespace: ${{ secrets.QUAY_IMAGE_NAMESPACE }}
      #     quay_username: ${{ secrets.QUAY_USERNAME }}
      #     quay_password: ${{ secrets.QUAY_PASSWORD }}

      # - name: Build and push releasetime exporter
      #   uses: "./.github/workflow_templates/build_push_exporters"
      #   with:
      #     image: 'pelorus-releasetime-exporter'
      #     tags: ${{ needs.get-tags.outputs.tags }}
      #     quay_imagenamespace: ${{ secrets.QUAY_IMAGE_NAMESPACE }}
      #     quay_username: ${{ secrets.QUAY_USERNAME }}
      #     quay_password: ${{ secrets.QUAY_PASSWORD }}

      # - name: Build and push webhook exporter
      #   uses: "./.github/workflow_templates/build_push_exporters"
      #   with:
      #     image: 'pelorus-webhook-exporter'
      #     tags: ${{ needs.get-tags.outputs.tags }}
      #     quay_imagenamespace: ${{ secrets.QUAY_IMAGE_NAMESPACE }}
      #     quay_username: ${{ secrets.QUAY_USERNAME }}
      #     quay_password: ${{ secrets.QUAY_PASSWORD }}

