name: Chart Lint
on:
  push:
    branches: [ master ]
    paths:
      - 'pelorus-operator/**'
      - 'charts/**'
      - 'lintconf.yaml'
      - '.github/workflows/chart-lint.yml'
      - 'exporters/'
      - 'Makefile'

  pull_request:
    branches: [ master ]
    paths:
      - 'pelorus-operator/**'
      - 'charts/**'
      - 'lintconf.yaml'
      - '.github/workflows/chart-lint.yml'
      - 'exporters/'
      - 'Makefile'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          clean: false
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt
            pyproject.toml

      - name: Lint charts
        run: make chart-lint
