name: Integration Tests
on:
  push:
    paths:
      - 'exporters/**'
      - 'mocks/**'
      - '!mocks/README.md'
      - 'pyproject.toml'
      - '.github/workflows/integration-tests.yml'
  pull_request:
    paths:
      - 'exporters/**'
      - 'mocks/**'
      - '!mocks/README.md'
      - 'pyproject.toml'
      - '.github/workflows/integration-tests.yml'

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r exporters/committime/requirements.txt \
                      -r exporters/deploytime/requirements.txt \
                      -r exporters/failure/requirements.txt \
                      -r exporters/requirements-dev.txt
      - name: Start Mockoon in background
        run: docker run --name=mockoon -d --mount type=bind,source=$PWD/mocks/commitexporter_github.json,target=/data,readonly -p 3000:3000 mockoon/cli:latest -d /data --name openshift -p 3000
      - name: try until mockoon is ready
        run: |
          pip install httpie
          until curl -k https://localhost:3000/version; do echo "trying again in 1 second"; sleep 1; done
      - name: Install exporters
        run: |
          pip install -e exporters/pelorus_common \
                      -e exporters/committime \
                      -e exporters/deploytime \
                      -e exporters/failure
      - name: run commit exporter
        run: |
          pytest -m integration