name: Prometheus Rules Tests
on:
  push:
    branches: [ main ]
    paths:
      - '_test/**'
      - 'charts/pelorus/**'
      - '.github/workflows/prometheus-rules.yml'

  pull_request:
    branches: [ main ]
    paths:
      - '_test/**'
      - 'charts/pelorus/**'
      - '.github/workflows/prometheus-rules.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt
            pyproject.toml

      - name: Install dependencies
        run: |
          make dev-env

      - name: Check for formatting
        run: |
          make test-prometheusrules
