name: Pylava
on:
  pull_request:
    branches: [ master ]
    paths:
      - 'pyproject.toml'
      - '.github/workflows/python-linting.yml'
      - 'Makefile'
      - '**.py'

jobs:
  python-lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt
            pyproject.toml

      - name: Lint
        run: make python-lint
