name: Trigger test images

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'exporters/**'
      - 'charts/**'
      - 'pelorus-operator/**'
      - '.github/workflows/trigger-test-images.yml'
    types: [opened, reopened, synchronize, closed]

jobs:
  get-short-sha:
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.sha.outputs.sha }}
    steps:
      - id: sha
        run: echo "sha=$(echo ${{ github.sha }} | cut -c 1-7)" >> "$GITHUB_OUTPUT"

  generate-jobs:
    runs-on: ubuntu-latest
    needs: get-short-sha
    steps:
      - name: Create json file
        run: |
          echo '{"branch_ref":"${{ github.ref }}",' \
              '"pr_type":"${{ github.event.action }}",' \
              '"pr_number":"${{ github.event.number }}",' \
              '"commit_hash":"${{ needs.get-short-sha.outputs.sha }}"}' > trigger-information.json

      - uses: actions/upload-artifact@v3
        with:
          name: trigger-information
          path: ./trigger-information.json
