{{- define "exporters.buildconfig" }}
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: {{ .app_name }}
    app.kubernetes.io/name: {{ .app_name }}
    application: {{ .app_name}}
  name: {{ .app_name }}
spec:
  failedBuildsHistoryLimit: 5
  output:
    to:
      kind: ImageStreamTag
      name: {{ .app_name }}:latest
  source:
    contextDir: exporters
    git:
      ref: {{ .source_ref | default "master" }}
      uri: {{ .source_url | default "https://github.com/dora-metrics/pelorus.git"}}
    type: Git
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: container/Containerfile
      buildArgs:
        - name: OPENSHIFT_BUILD_SOURCE
          value: {{ .source_url | default "https://github.com/dora-metrics/pelorus.git"}}
        - name: OPENSHIFT_BUILD_REFERENCE
          value: {{ .source_ref | default "master" }}
  successfulBuildsHistoryLimit: 5
  triggers:
  - github:
      secretReference:
        name: github-secret
    type: GitHub
  - type: ConfigChange
  - type: ImageChange
{{- end }}
